<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Create Message</h1>
  <form action="" method="POST">
    <label for="title">Title</label>
    <input name="title" placeholder="title" type="text" />
    <label for="message">Message</label>
    <textarea  name="message" placeholder="message" type="text" ></textarea>
    
    <button>post</button>
  </form>

</body>
</html>