<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="" method="POST">
    <label for="secret_key">First Name</label>
    <input name="secretkey" placeholder="secret_key" type="text" />
    <button>join</button>
  </form>
  
</body>
</html>