<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="" method="POST">
    <label for="firstname">First Name</label>
    <input name="firstname" placeholder="firstname" type="text" />
    <label for="lastname">Last Name</label>
    <input name="lastname" placeholder="lastname" type="text" />
    <label for="username">Username</label>
    <%if(errors){%>
    <p><%=errors[0].msg%></p>
    <%}%>
    <input name="username" placeholder="username" type="text" />
    
    <label for="password">Password</label>
    <input name="password" type="password" />
    <label for="secretkey">Password</label>
    <input name="secretkey" type="text" />
    <button>Sign Up</button>
  </form>
  <a href="/">already have account</a>
</body>
</html>